/* Navbar */

.logo-edit{
    height: 30px;
    width: 20%;
}

.navbar-brand{
    font-weight: bold;
}

.navbar .collapse.navbar-collapse{
    flex-grow: inherit;
}

.navbar a{
    color: black;
}

.nav-link:focus, .nav-link:hover{
    color: black;
}

.navbar-toggler:focus{
    box-shadow: none;
}

/* Header */

.header__img{
    width: 100%;
    height: auto;
    padding-top: 5%;
}

.header__img__second{
    max-height: 80%;
    width: 100%;
}

.header__p{
    font-weight: bold;
}

.preg__header{
    display: grid;
}

.preg__header__h1{
    display: inline;
    width: fit-content;
    margin: 0px;
    justify-self: center;
    text-decoration: underline;
    font-size: 140%;
}

.preg__header__content{
    justify-self: center;
    display: grid;
}

.header__p__preg{
    justify-self: center;
    margin: 0px;
    display: flex;
    text-align: center;
}

.header__p__ans{
    justify-self: center;
    width: fit-content;
    margin: 0px;
    text-align: center;
    max-width: 70%;
}

/* Footer */

.footer__img{
    width: 40%;
    height: 40%;
}

.footer__list{
    list-style-type: none;
    justify-content: space-around;
}

.footer__list li{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__p{
    font-weight: bold;
    font-size: 75%;
    margin: 0px;
}

@media(min-width: 576px){

    /* Header */

    .header__order{
        order: -1;
    }

    .header__div__p.flex-column{
        display: grid !important;
        max-width: 80%;
        align-items: center;
        justify-items: center;
    }

    .header__p{
        font-size: 160%;
        width: 80%;
        text-align: center;
    }

    .main__header{
        justify-content: end;
    }

    .header__img{
        width: 100%;
        height: auto;
        border-radius: 150px 0px 0px 150px;
        padding-top: 0px;
    }

    .header__img__second{
        max-height: 410px;
        border-radius: 0px 150px 150px 0px;
        width: 90%;
    }


    .preg__header{
        display: grid;
    }

    .preg__header__h1{
        font-size: 250%;
    }

    .preg__header__content{
        display: grid;
    }

    .header__p__preg{
        width: fit-content;
        justify-self: center;
    }

    .header__p__ans{
        width: fit-content;
        justify-self: center;
        font-size: 120%;
    }

    /* Footer */

    .footer__p{
        font-size: 160%;
    }

    .footer__img{
        width: 80%;
        height: 80%;
    }
}