@import "_hace-tu-pedido";
@import "_trabaja-con-nosotros";
@import "_proyectos";
@import "_preguntas";
@import "_hace-tu-pedido";


// Navbar

.navbar{

    a {
        color: black;
        font-weight: bold;
    }

    .nav-item a{
        color: black;
        font-weight: normal;
    }

    .navbar-brand{
        font-weight: bold;
    }

    .logo-edit{
        height: 30px;
        width: 20%;
    }

    .collapse.navbar-collapse{
        flex-grow: inherit;
    }

    .nav-link:focus, .nav-link:hover{
        color: black;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

}

// Header index

.header__content{

    .header__img{
        width: 100%;
        height: auto;
        padding-top: 5%;
    }

    .header__img__second{
        max-height: 80%;
        width: 100%;
    }

    .header__div__p{

        .header__p{
            font-weight: bold;
            text-align: center;
        }

    }
}

// Footer

.footer__list{
    list-style-type: none;
    justify-content: space-around;
    align-items: center;

    .footer__list{ 
        li{
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    }

    .footer__p{
        font-weight: bold;
        font-size: 75%;
        margin: 0px;
    }

    .footer__img{
        width: 40%;
        height: 40%;
    }
}

// Media query

@media(min-width: 576px){

    // Header index

    .header__content{

        .header__order{
            order: -1;
        }

        .header__div__p.flex-column{
            display: grid !important;
            max-width: 80%;
            align-items: center;
            justify-items: center;
        }

        .header__div__p{

            .header__p{
                font-size: 160%;
                width: 80%;
                text-align: center;
            }
        }

        .header__div__img{
            justify-content: end;
        }

        .header__img{
            width: 100%;
            height: auto;
            border-radius: 150px 0px 0px 150px;
            padding-top: 0px;
        }

        .header__img__second{
            max-height: 410px;
            border-radius: 0px 150px 150px 0px;
            width: 90%;
        }

    }

    // Header preguntas

    .preg__header{
        display: grid;

        .preg__header__h1{
            font-size: 250%;
        }

        .preg__header__content{
            display: grid;

        .header__p__preg{
            width: fit-content;
            justify-self: center;
            font-weight: bold;
            font-size: 180%;
        }

        .header__p__ans{
            width: fit-content;
            justify-self: center;
            font-size: 150%;
        }
        }
    }

    // Header hace tu pedido

    .main__hace-tu-pedido{

        h1{
            font-size: 200%;
        }
    }

    // Header proyectos

    .main__proyectos{

        h1{
            width: fit-content;
        }
        .proyectos__img1, .proyectos__img2, .proyectos__img3, .proyectos__img4{
            border-radius: 150px;
            height: 400px;
        }
    }

    // Header trabaja con nosotros

    .main__trabaja-con-nosotros, .main__hace-tu-pedido{

        .header__form{
            
            .div__boton{

                .boton{
                    justify-self: start;
                }
            }
        }
    }

    // Error 404

    .div__error{

        height: calc(100vh - 222px);
        align-content: space-around;
        .error__p, .error__h2{
            height: fit-content;
            align-self: center;
            justify-self: start;
        }
        .error__h2{
            font-size: 500%;
        }
        .error__p{
            font-size: 150%;
            text-align: initial;
            max-width: none;
        }
        .error__h1{
            font-size: 300%;
            width: fit-content;
            justify-self: center;
            text-decoration: line-through;
        }
        .error__img{
            width: 150%;
            height: auto;
        }
    
    }

    // Footer all

    .footer__list{
        padding-top: 5%;

        .footer__p{
            font-size: 160%;
        }

        .footer__img{
            width: 80%;
            height: 80%;
        }
    }
}